.boxes {
   width: 100%;
   background-color: #222;
   height: 25rem;
   display: grid;
   grid-template-columns: repeat(3, 400px);
   justify-content: center;
   align-items: center;
   gap: 20px;
   margin-top: 3rem;
}

.box {
   height: 300px;
}
img {
   width: 100%;
   height: 100%;
}
