.flex {
   display: flex;
   align-items: start;
}
.grid {
   display: grid;
   grid-template-columns: repeat(auto-fit, minmax(200px, 300px));
   grid-template-rows: repeat(4, auto-fit);
   gap: 20px;
   justify-content: center;
}
.bg {
   background-color: rgb(104, 101, 101);
}
main {
   background-color: #000;
   width: 92%;
   height: fit-content;
   text-align: center;
   color: #fff;
   margin-top: 0rem;
   padding: 4rem;
}
.title {
   position: relative;
}
.title h3 {
   color: #fff;
   text-transform: uppercase;
   font-size: 30px;
   animation: glitch 1000ms infinite;
}
.title span {
   position: absolute;
   left: 600px;
   top: -32px;
   color: #f9aa01;
   font-size: 20px;
   text-transform: uppercase;
   font-weight: 800;
   transform: rotate(-4deg);
   animation: glitch 1000ms infinite;
}
.search-box {
   margin: 10px 4px;
   width: 96%;
   height: 42px;
   display: none;
}
.d-block {
   display: block;
}
.container {
   width: 80%;
   margin: 4.5rem auto;
}
.filter-left {
   justify-content: space-between;
   width: 50%;
}
.filter-left button:first-of-type {
   color: #f9aa01;
   border: 1px solid #f9aa01;
}
.filter-left button {
   border: none;
   background-color: transparent;
   color: white;
   font-weight: bold;
   font-size: 15px;
   height: 40px;
   width: 130px;
}
button:hover {
   border-radius: 30px;
   border: 1px solid #f9aa01;
   transition: all 0.4s;
}
.filter-right .filter,
.search {
   margin-left: 8px;
   height: 40px;
   width: 130px;
   border: 1px solid #f9aa01;
   align-items: center;
   justify-content: start;
   padding-left: 7px;
}
i {
   color: #f9aa01;
}
.lable {
   margin-left: 13px;
}
.more {
   width: 120px;
   height: 45px;
   border-radius: 10px;
   color: white;
   border: none;
   background-color: #f9aa01;
   margin-top: 3rem;
   text-transform: uppercase;
}
@keyframes glitch {
   0% {
      text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
         -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
         0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
   }
   14% {
      text-shadow: 0.05em 0 0 rgba(255, 0, 0, 0.75),
         -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
         0.025em 0.05em 0 rgba(0, 0, 255, 0.75);
   }
   15% {
      text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
         0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
         -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
   }
   49% {
      text-shadow: -0.05em -0.025em 0 rgba(255, 0, 0, 0.75),
         0.025em 0.025em 0 rgba(0, 255, 0, 0.75),
         -0.05em -0.05em 0 rgba(0, 0, 255, 0.75);
   }
   50% {
      text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
         -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
         0 -0.05em 0 rgba(0, 0, 255, 0.75);
   }
   99% {
      text-shadow: 0.025em 0.05em 0 rgba(255, 0, 0, 0.75),
         -0.025em -0.05em 0 rgba(0, 255, 0, 0.75),
         0 -0.05em 0 rgba(0, 0, 255, 0.75);
   }
   100% {
      text-shadow: -0.025em 0 0 rgba(255, 0, 0, 0.75),
         -0.025em -0.025em 0 rgba(0, 255, 0, 0.75),
         -0.025em -0.05em 0 rgba(0, 0, 255, 0.75);
   }
}
